@import "css_block/nav_menu.css";
@import "css_block/header_block.css";
@import "css_block/about_text.css";
@import "css_block/skills_block.css";
@import "css_block/statistics_block.css";
body{
    max-width: 1365px;
    padding: 0;
    margin: 0 auto;
    font-family: Montserrat;
}
.header{
    min-height: 670px;
}
.header-bg{
    background: url("../img/header/laptop_bg.jpg") no-repeat;
    background-size: 118%;
}

.container{
    border: 1px solid black;
}
.about{
    min-height: 420px;
}

.skills{
    min-height: 570px;
}
.skills-bg{
    background: url("../img/skills/unsplash.jpg") no-repeat;
    background-size: 130%;
}
.statistics{
    min-height: 240px;
}
.statistics-bg{
    background: #10c9c3;
}
.work{
    min-height: 600px;
}
.load{
    min-height: 106px;
}
.video{
    min-height: 930px;
}
.categories{
    min-height: 536px;
}
.slider{
    min-height: 500px;
}
.logos{
    min-height: 200px;
}
.feedback{
    min-height: 750px;
}
.footer{
    min-height: 280px;
}
