.categories__row{
    min-height: 536px;
}
.categories__h5{
    color: #191919;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.categories__p{
    color: #787878;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}