.statistics__block{
    min-height: 170px;
}
.statistics__block img{
    max-width: 40px;
    margin: auto 0 auto auto;
}
.statistics__block-p{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.static-info-1,
.static-info-2,
.static-info-3,
.static-info-4,
.static-info-1-about,
.static-info-2-about,
.static-info-3-about,
.static-info-4-about{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}