.work__container{
    overflow: hidden;
    max-height: 0px;
    transition:300ms ease-in;
}
/*.work__container-height{
    max-height: max-content;
    transition: 300ms ease-in;
}*/
.work__container__img{
    width: 100%;
}
.work__container__block{
    overflow: hidden;
}
.work__container__block-hover{
    background: rgba(0, 0, 0, 0.76);
    top: 0;
    cursor: pointer;
    transform: rotateX(90deg);
    transition: transform 300ms ease-in-out ;
}
.work__container__block-hover-work{
    background-color: #10c9c3b3;
    top: 0;
    cursor: pointer;
    transform: rotateX(90deg);
    transition: transform 300ms ease-in-out ;
}
.work__container__block:hover .work__container__block-hover {
    transform: rotateX(0deg);
}
.work__container__block:hover .work__container__block-hover-work{
    transform: rotateX(0deg);
}
.work__container__more{
    height: 100px;
    outline: none;
    background-color: #f5f5f5;
    border: none;
    border-radius:0;
    transition: 300ms ease-in;
}
.work__container__more-none{
    height: 0;
    min-height: 0;
}
.work__container__more-none>p{
    display: none;
}
.work__container__more-p{
    color: #8e8e8e;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    transition: 100ms;
}
.work__container__more:hover .work__container__more-p{
    color: #f5f5f5;
    transform: scale(1.2);
}
.btn:focus,
.btn:active {
    box-shadow: none;
}
/*.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}*/

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}
.compensate-for-scrollbar{
    margin-right: auto!important;
}
